


.home-navbar {
    background-color: #B8F2E6;
    color: antiquewhite;
}
/* Css for a tag is not underlined */
.home-login {
    text-decoration: none;
}

.sign_up_btn {
    background-color: #e48cd7;
}
